html {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15%;
	min-width: 250px;
}

.content-container {
	background-color: #FFFFFF;
	padding-top: 15px;
	padding-right: 2%;
	height: 768px;
	margin: 0 auto;
}

.nav-container {
	background-color: #E1FFE1;
}

.color1 {
	background-color: #E1FFE1;
}

.color2 {
	background-color: #8CFF8C;
}

.color3 {
	background-color: #577F57;
}

.color4 {
	background-color: #B4CCB4;
}

.color5 {
	background-color: #707F70;
}
/*End sample colors*/

/*Begin Sign In Popup*/
div.grayed-box {
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto
	-webkit-transition: opacity 500ms linear;
}

div.popup-login {
	position: fixed;
	left:50%;
	top:17%;
	margin-left:-202px;
	visibility: hidden;
}

form.login {
	background-color: #FFFFFF;
	min-width: 350px;
	max-width: 300px;
	border: 2px solid #577F57;
	border-radius: 10px;
}

img.close {
	position:absolute;
	right:-60px; /*temp*/
	top:-14px;
	cursor:pointer;
	border: 2px solid red; /*temp*/
	border-radius: 10px; /*temp*/
}

h2.login-title {
	background-color: #B4CCB4;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid;
	border-color: #577F57;
	margin: auto;
	text-align: center;
	padding: 0.5em;
}

div.login-box {
	padding:10px;
	text-align:center;
}

input.login-input {
	width: 80%;
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #ccc;
}

a.login-button {
	display: block;
	width: 80%;
	text-decoration: none;
	color: white;
	padding: 10px;
	background-color: #81c381;
}
/*End Sign In Popup*/

/*Start Registration*/
.error-message {
	color:red;
	display: none;
}
/*End Registration*/

/*Start Results Grid*/
.result-box {
	background-color: #E1FFE1;
	margin-bottom: 15px;
	margin-left: 2%;
	float:left;
	width: 98%;
	display: none;
}	

@media screen and (min-width: 500px) {
	.content-container {
		width: 500px;
	}
}

@media screen and (min-width: 750px) {
	.result-box {
		width: 48%; 
	}
	.content-container {
		width: 750px;
	}
}

@media screen and (min-width: 1000px) {
	.result-box {
		width: 48%; 
	}
	.content-container {
		width: 1000px;
	}
}

@media screen and (min-width: 1250px) {
	.result-box {
		width: 31.33333333%; 
	}
	.content-container {
		width: 1200px;
	}
}

@media screen and (min-width: 1500px) {
	.result-box {
		width: 23%; 
	}
	.content-container {
		width: 1500px;
	}
}

@media screen and (min-width: 1750px) {
	.result-box {
		width: 23%; 
	}
	.content-container {
		width: 1750px;
	}
}
/*End Results Grid*/